body {
  background-image: url('http://i.imgur.com/K05VKe7.jpg');
  background-size: cover;
  font-family: 'Voltaire'
}

.blog-post-panel {
  opacity: .90;
  max-width: 65%;
  min-width: 65%;
  margin-left: 15%;
  font-size: 15px;

}

.col-md-8 {
  left: 150px;
}
