<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Voltaire|Monoton|Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/2/7/278lfrq412.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Fitchburgh</title>
  </head>

  <body id="gradient">

    <div class="col-md-1 index-buttons">
      <div class="btn-group-vertical pull-left" role="group" aria-label="main-buttons">
        <button type="button" class="btn btn-info" onclick="location.href='/'">Home</button>
        <button type="button" onclick="location.href='about_me.html'" role="group" aria-label="main-buttons" class="btn-group-vertical btn btn-info">About Me</button>
        <button type="button" onclick="location.href='https://github.com/Fitchburgh/'" role="group" aria-label="main-buttons" class="btn-group-vertical btn btn-info">Projects</button>
        <button type="button" onclick="location.href='https://twitter.com/b_fitchburgh'" role="group" aria-label="main-buttons" class="btn-group-vertical btn btn-info">Twitter</button>
        <button type="button" onclick="location.href='https://www.linkedin.com/in/brandon-fitch-721bb443'" role="group" aria-label="main-buttons" class="btn-group-vertical btn btn-info">LinkedIn</button>
        <!-- <button type="button" role="group" class="btn btn-info" disabled>Coming Soon!</button> -->
      </div>
    </div>

    {{ content }}

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="background.js"></script>
  </body>
</html>


<!-- contact me, save emails and names and option phone numbers from the form submission -->
